<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<TITLE>SpringBoot_0420</TITLE>
	<META name="description" content="THORNBIRD.COM"/>
	
	<!-- 引入css -->
	<link th:href="${'/plugins/fontawesome-free/css/all.min.css'}" rel="stylesheet" />
	<link th:href="${'/plugins/overlayScrollbars/css/OverlayScrollbars.min.css'}" rel="stylesheet" />
	<link th:href="${'/dist/css/adminlte.min.css'}" rel="stylesheet" />
	<link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" 
		rel="stylesheet" >
	
	<!-- 引入js -->
	<!-- <script th:src="@{http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js}"></script> -->
	<!-- jQuery -->
	<script th:src="${'/plugins/jquery/jquery.min.js'}" type="text/javascript"></script>
	<!-- Bootstrap -->
	<script th:src="${'/plugins/bootstrap/js/bootstrap.bundle.min.js'}" 
		type="text/javascript"></script>
	<!-- overlayScrollbars -->
	<script th:src="${'/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js'}" 
		type="text/javascript"></script>
	<!-- AdminLTE App -->
	<script th:src="${'/dist/js/adminlte.js'}" type="text/javascript"></script>
	<!-- main -->
	<script th:src="${'/dist/js/main.js'}" type="text/javascript"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- header -->
		<div th:replace="fragments/header"></div>
		
		<!-- center body -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- sidebar -->
			<div th:replace="fragments/sidebar"></div>
			
			<div class="content-wrapper">
				<div th:if="${template}">
					<div th:replace="${template}"></div>
			    </div>
			</div>
		</aside>
	    
		<!--footer-->
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>