<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<TITLE>SpringDemo2001</TITLE>
	<META name="description" content="THORNBIRD.COM"/>
	
	<!-- 引入css -->
	<link th:href="${'/plugins/fontawesome-free/css/all.min.css'}" rel="stylesheet" />
	<link th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" 
		rel="stylesheet" >
	<link th:href="${'/plugins/icheck-bootstrap/icheck-bootstrap.min.css'}" rel="stylesheet" />
	<link th:href="${'/dist/css/adminlte.min.css'}" rel="stylesheet" />
	<link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" 
		rel="stylesheet" >
	
	<!-- 引入js -->
	<!-- <script th:src="@{http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js}"></script> -->
	<!-- jQuery -->
	<script th:src="${'/plugins/jquery/jquery.min.js'}" type="text/javascript"></script>
	<!-- Bootstrap -->
	<script th:src="${'/plugins/bootstrap/js/bootstrap.bundle.min.js'}" 
		type="text/javascript"></script>
	<!-- AdminLTE App -->
	<script th:src="${'/dist/js/adminlte.js'}" type="text/javascript"></script>
	<!-- main -->
	<script th:src="${'/dist/js/main.js'}" type="text/javascript"></script>
</head>

<body class="hold-transition login-page">

	<div th:if="${template}">
		<div th:replace="${template}"></div>
    </div>
    
</body>
</html>