<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<TITLE>SpringDemo2001</TITLE>
		<META name="description" content="THORNBIRD.COM"/>
		
		<!-- 引入js和css -->
		<script th:src="@{http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js}"></script>
	</head>
	
	<body>
		<div>
		This is header.
		</div>
		<div>
		This is test module index page3.
		</div>
		<div>
		This is footer.
		</div>
	</body>
</html>
